h1, h2, h3, p {
	color: red;
}

body {
	 margin: auto;
  width: 300px;
}

h2, p, {
	text-align: center;
}

h1 {
padding: 15px;
}

p {
  background-color: #dfd4c9;
}

p {
  font-family: "Arial", sans-serif;
}

h3 {
  font-size: 200%;
}


p {
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  font-family: sans-serif;
}

h5
<h5 id="green-apple">Green Apple</h5>

ul class="navigation">
          <li class="navigation-link">Link 1</li>



          <div> class="biker image">
